body {
    padding-top: 50px;
}

nav.navbar {
    background: #11536F;
    color: #fff;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover,
.navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover {
    color: #fff;
}

footer {
    margin-top: 20px;
    padding: 10px 30px;
    color: #fff;
    background: #11536F;
}